@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply box-border m-0 p-0 scroll-smooth;
}

html,
body {
  @apply max-w-[100vw] overflow-x-hidden;
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

Link {
  @apply no-underline text-inherit;
}

.theme {
  transition: 1s all ease;
}
.light {
  @apply bg-white text-[#000300];
  .logoTitle {
    @apply text-[#53c28b];
  }
  .menuLinks {
    @apply text-[#048b4a];
  }
  .formContainer {
    @apply shadow-[0_14px_28px_rgba(0,0,0,0.25),0_10px_10px_rgba(0,0,0,0.22)];
    transition: 1s all ease;
  }
  .bothForm {
    @apply bg-white;
    transition: 1s all ease;
  }
}
.dark {
  @apply bg-[#000300] text-[#bbb];
  .logoTitle {
    @apply hover:text-[#53c28b];
  }
  .bothForm {
    @apply bg-[#000300];
    transition: 1s all ease;
  }
}

.container {
  @apply scroll-smooth max-w-[1366px] min-h-screen flex flex-col justify-between mx-auto my-0 px-[30px] md:px-[40px] lg:px-[60px] py-0;
}

.heroTitel {
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.will-change-transform {
  will-change: transform;
}

.itemCato:nth-child(2n + 1) {
  @apply flex-row-reverse;
}
